.image-background {
    width: 300px;
    height: 250px;
    /*background-image: url('/assets/images/voiture.jpg');*/
      background-image: url('https://drive.google.com/drive/u/5/home');

    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}