<div class="form-container">
  <h2 class="form-title">Ajouter un véhicule</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="vehicle-form">
    <div class="form-group">
      <label class="form-label">Matricule :</label>
      <input class="form-input" formControlName="matricule" />
      <div *ngIf="form.get('matricule')?.invalid && form.get('matricule')?.touched" class="error-message">
        Le matricule est obligatoire.
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">Numéro de série :</label>
      <input class="form-input" formControlName="numSerie" />
      <div *ngIf="form.get('numSerie')?.invalid && form.get('numSerie')?.touched" class="error-message">
        Le numéro de série est obligatoire.
      </div>
    </div>

    <div class="form-group checkbox-group">
      <label class="form-label">
        Disponible :
        <input type="checkbox" formControlName="disponible" class="form-checkbox" />
      </label>
    </div>

    <button type="submit" class="submit-btn" [disabled]="form.invalid">Enregistrer</button>
  </form>

  <div class="form-image"></div>
</div>